@media (max-width:1199px) {
    .jafar {
        left: -100%;
        opacity: 0;
    }

    .main-content {
        padding-left: 0;
    }

    body.active .jafar {
        left: 0;
        opacity: 1;
        /* position: fixed; */
        /* overflow-y: scroll; */
    }

    .jafar .icons_close_box_x,
    .icons_bars_in_clos {
        display: flex;
    }

    .about .about-content .personal-info .info-item p.text-p .text-span {
        display: block;
        margin-left: 0;
    }

    .nav_box_menu {
        display: block;
    }

    .portfolio_modal_box .container {
        padding: 60px 10px;
    }
}

@media (max-width:991px) {

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }

    .service .service-item,
    .portfolio .portfolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .contact .contact-info-item {
        flex: 0 0 50%;
        max-width: 50%;
    }


}

@media (max-width:818px) {
    .about .personal-img {
        flex: 0 0 100%;
    }
}

@media (max-width:768px) {

    .about .about-content .personal-info,
    .about .about-content .skills,
    .about .about-content .education,
    .about .about-content .experience,
    .portfolio .portfolio-item,
    .service .service-item,
    .contact .contact-info-item,
    .contact .contact-form .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row_box_media {
        display: flex;
        flex-direction: column-reverse;
    }

    .about .about-content .timeline .timeline-text {
        line-height: 17px;
    }
}

@media (max-width:450px) {
    .jafar {
        width: 60%;
    }
}